<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <!-- 콘솔에 로그 출력 형식 -->
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ERROR-ROLLING">
    <encoder>
      <!-- 날짜, 시간, 로그 레벨, 스레드 이름, 로거 이름, 메시지 형식 -->
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>logs/spring-boot-application-error.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/spring-boot-application-error.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="WARN-ROLLING">
    <encoder>
      <!-- 날짜, 시간, 로그 레벨, 스레드 이름, 로거 이름, 메시지 형식 -->
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>logs/spring-boot-application-warn.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/spring-boot-application-warn.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="INFO-ROLLING">
    <encoder>
      <!-- 날짜, 시간, 로그 레벨, 스레드 이름, 로거 이름, 메시지 형식 -->
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>logs/spring-boot-application-info.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/spring-boot-application-info.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="DEBUG-ROLLING">
    <encoder>
      <!-- 날짜, 시간, 로그 레벨, 스레드 이름, 로거 이름, 메시지 형식 -->
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>logs/spring-boot-application-debug.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/spring-boot-application-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- 로그 패턴에 색상 적용 %clr(pattern){color} -->
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

  <!-- log 변수 값 설정 -->
  <property name="LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]  %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>

  <springProfile name="default">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="ERROR-ROLLING"/>
      <appender-ref ref="WARN-ROLLING"/>
      <!--            <appender-ref ref="INFO-ROLLING"/>-->
      <!--            <appender-ref ref="DEBUG-ROLLING"/>-->
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="ERROR">
      <appender-ref ref="ERROR-ROLLING"/>
    </root>
  </springProfile>
</configuration>
